body
{
font-family:'Arsenal';
}

.heading
{
  display: flex;
  justify-content: center;
  color: darkblue;
  font-size: 18px;
  margin-top: 20px;
}
.header-box
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
 
  
}

.header-box input
{
  background-color: aliceblue;
  padding: 8px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  margin: 5px;
}
.header-box button
{
  background-color: yellow;
  border: none;
  border-radius: 5px;
  margin: 5px;
}
